<!DOCTYPE html>
<html>

<head>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- materialize javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <!-- local javascript -->
    <script src="/javascripts/profile.js"></script>
    <script src="/javascripts/edit.js"></script>

    <!-- Materilize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- local css -->
    <!-- <link rel="stylesheet" href="/stylesheets/layout.css"> -->

    <title>{{title}}</title>

</head>


<nav class="blue">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Logo</a>
        <a href="#" class="button-collapse" data-activates="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>

<body>
    {{{body}}}
</body>

</html>
