
<!-- <h4>{{title}}</h4>
<h5>{{body}}</h5> -->



<div class="container">
    <div class="row">
        <form action="" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" class="validate" name="title" value="{{title}}">
                    <label for="em">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="body" type="text" class="validate" name="body" value="{{body}}">
                    <label for="pw">Body</label>
                </div>
            </div>
            <div class="container center-align">
                <button class="btn waves-effect waves-light editPost" type="submit" name="action" value="submit">Edit Post</button>
                <button class="btn waves-effect waves-light deletePost" type="submit" name="action" value="delete">Delete Post</button>
            </div>
        </form>
    </div>
</div>
<!-- <button class="updatePost"type="button" name="editPost">Edit Post</button> -->
